.healthe-new-syndication-form {
    display: none;
}

.healthe-new-syndication-form {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgrey;
}

.healthe-spinner {
  display: none;
}

.healthe-notice.error {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  border: 1px solid red;
  color: red;
}

#healthe-export-container {
    border: 3px solid white;
    padding: 10px;
    margin: 5px
}